#tasksTable
{
    color: rgb(219, 155, 198) !important;
}

.done {
    background-color: rgba(0, 238, 255, 0.437);
}

.todo {
    background-color: rgba(175, 2, 255, 0.437);
}

.wip {
    background-color: rgba(255, 38, 0, 0.437);
}